// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  text-align: center;
  background-image: url("https://i.imgur.com/Dnx34jf.gif");
  background-size: repeat;
}

.container {
  display: flex;
  flex-direction: column;
  margin-top: 40vh;
  border: 3px black dotted;
  background-color: rgba(255,255,255,0.7);
  margin: 200px 400px;
  padding: 30px;
}

.answer{
  font-size: 40px;
}

.form {
  border-radius: 50px;
  border: 2px solid black;
  padding: 10px;
  width: 300px;
  height: 30px;
  background-color: white;
  font-size: 20px;
  text-align: center;
}

.button, .ask {
  background-color: black;
  color: white;
  border-radius: 10px;
  margin: 10px;
  padding: 10px 20px;
  font-size: 30px;
  border: white 1px solid;
  text-decoration: none;
}
